@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<GridDraggable Layout=layout />

@code {
    private GridLayout layout = new()
    {
        Items = 
        {
            new GridItem { Id = 1, Title = "A", Row = 0, Column = 1, IsFullWidth = false },
            new GridItem { Id = 2, Title = "B", Row = 0, Column = 2, IsFullWidth = false },
            new GridItem { Id = 3, Title = "C", Row = 1, Column = 1, IsFullWidth = false },
            new GridItem { Id = 4, Title = "D", Row = 1, Column = 2, IsFullWidth = false },
            new GridItem { Id = 5, Title = "FULL 1", Row = 2, Column = 1, IsFullWidth = true },
            // ... más items
        }
    };
}
